PORT=3001

ZABBIX_URL=http://192.168.1.22:8080/api_jsonrpc.php
ZABBIX_USER=IQLab
ZABBIX_PASSWORD=IQ#L0g!n

ZAMMAD_URL=https://nonperforated-jeffery-unsalutatory.ngrok-free.dev/api/v1
# Basic Auth Credentials or Token Auth
ZAMMAD_EMAIL=sourabh14280@gmail.com
ZAMMAD_PASSWORD=IQ#L0g!n2026


LOKI_URL=http://192.168.1.180:3100
LOKI_TIMEOUT=10000
LOKI_CACHE_TTL=300
LOKI_MAX_LIMIT=1000

OXIDIZED_URL=http://192.168.1.22:8888
